<%= turbo_frame_tag ListItem.model_name.collection, class: 'min-w-full' do %>
  <div class="my-10 flex flex-col gap-y-8">
    <% list_items.each do |list_item| %>
      <div class="flex border shadow-lg p-2 bg-gray-50 rounded-lg">
        <%= turbo_frame_tag list_item, class: "min-w-full" do %>
          <div class="flex justify-between">
            <div><%= list_item.title %></div>
            <div><%= link_to "Show", list_item_path(list_item), class: "text-sky-700/50 hover:text-sky-700 transition" %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
