<%= turbo_frame_tag ListItem.model_name.collection, class: 'min-w-full' do %>
  <div class="my-10 flex flex-col gap-y-8">
    <% list_items.each do |list_item| %>
      <div class="flex border shadow-lg p-4 bg-gray-50 rounded-lg">
        <%= turbo_frame_tag list_item, class: "min-w-full" do %>
          <%= render list_item %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
